:root{
    --main-color:#3867d6;
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body{
    background-color: #ededed;
}

.home .home-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 40rem;
    width: 27rem;
}
.home .home-slider .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section{
    padding: 2rem 9%;
}
.header .btn {
    padding: 0.4rem 0.6rem;
    background: var(--main-color);
    color: #fff;
    font-weight: 450;
    border-radius: 0.5rem;

}
.header .btn:hover {
    color: var(--main-color);
    background: #eee;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 3.2rem;

}
.heading h2{
    color: #111;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: bolder;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1.3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #2495c9;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
    background: #219ec5;
    color: #e73030;
}
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

}
.header .logo{
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}
.header .logo span{
    font-weight: bolder;
    color: #0b84e7;
    font-size: 2.5rem;
}
.header .navbar a{
    font-size: 1.5rem;
    color: #fff;
    margin-left: 2rem;
}
.header .navbar a:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.4s all linear;
    color: var(--main-color);
}
#menu-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
.home .content{
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 70rem;
}
.home .content h3{
    color: #201919;
    font-size: 3.3rem;
    text-transform: uppercase;
}
.home .content h3 span{
    color: var(--main-color);
    font-size: 3.3rem;
    text-transform: uppercase;
}

.service .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap:1.5rem;
}
.service .box-container .box{
    width: 90%;
    height: 100%;
    border-radius: 5rem;
    background: #333;
    text-align: center;
    padding: 2rem;
}
.service .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
}
.service .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}
.service .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    line-height: 1.8;
}
.about .heading{
    color: #111;
    font-weight: bolder;
}
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .row .image{

    flex: 1 1 50px;
    padding: 1rem;
}
.about .row .image img{
    width: 60%;
    height: 60%;
    border-radius: 2rem;
    border: 1rem solid #333;
}
.about .row .content{
    flex: 1 1 10rem;
}
.about .row .content h3{
    font-size: 2rem;
    color: #fff;
}
.about .row .content p{
    font-size: 1rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 2;
}

.heading {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1.2rem; */
    font-weight: 500;
    /* text-transform: uppercase; */
    border-bottom: 1px solid #ff2c1f;
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;

}
.heading a{
  align-items: right;

}
.movies-container {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box img {
    width: 40%;
    height: 700px;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.box .box-img img:hover {
    cursor: pointer;
    transform: translateY(-15px);
    transition: 0.2s all linear;
}

.swiper-button-next{
    color: #fa1216;
}
.swiper-button-prev{
    color: #fa1216;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 600;
}

.box span {
    font-size: 13px;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 600;
}

.box span {
    font-size: 13px;
}

.bn {
    width: 100%;
    padding: 12px 0 10px;
    border-radius: 5px;
    background: rgb(212, 63, 63);
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

.bn:hover {
    background: #ff2c1f;
    cursor: pointer;
}

.footer{
    background: #111;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #fff;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--main-color);
}


/* .footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
} */
.footer .box-container .box a:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.4s all linear;
}
.footer .box-container .box a i:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.4s all linear;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}
.footer .credit span{
    color: var(--main-color);
}
